/* highlist a list item when user hovers over it */
li:hover {
  background-color: #555;
}


/* how to get rid of bullets in a list*/
ul {
  list-style-type: none;
}

/*hortizontal and vertical centre content*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}